# ===========================
# Dependencies
# ===========================

node_modules/

# ===========================
# Build
# ===========================

dist/
build/
.vite/

# ===========================
# Environment
# ===========================

.env
.env.*

# ===========================
# Upload
# ===========================

Attachment/

# ===========================
# Large archive files
# ===========================

*.rar
*.zip

# ===========================
# Logs
# ===========================

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===========================
# Cache
# ===========================

.cache/
.parcel-cache/
.npm/

# ===========================
# IDE / Editor
# ===========================

.vscode/
.idea/

# ===========================
# Operating System
# ===========================

Thumbs.db
.DS_Store